<!DOCTYPE html>
<html>
	<link rel="shortcut icon" type="image/png" href='{{ url_for('static', filename='favicon.ico') }}' />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='analysis/rank/styles/style.css') }}"></link>
	<script type="text/javascript" src="{{ url_for('static',filename='analysis/rank/scripts/jquery-3.4.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='analysis/rank/scripts/jquery-ui-1.12.1.custom/jquery-ui.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='analysis/rank/scripts/jquery-csv-master/src/jquery.csv.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='analysis/rank/scripts/jquery-csv-master/src/jquery.csv.min.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='analysis/rank/scripts/help.js')}}" defer></script>
	<script>
		window.data='{{ data }}'; 
		window.ranks='{{ ranks }}';
		window.col='{{ col }}';
	</script>
	<title>Gearheads Analysis/Ranking Module</title>
	<body>

		<div id="sweetmotherofpearl">
			<div id="gearheads">
				<img id="image" src='{{ url_for("static", filename="gearheads.png") }}'></img>
			</div>
			<div id="rank_S" class="rank">
				<h1>S</h1>
				
			</div>
			<div id="rank_A" class="rank">
				<h1>A</h1>
				
			</div>
			<div id="rank_B" class="rank">
				<h1>B</h1>
				
			</div>
			<div id="rank_C" class="rank">
				<h1>C</h1>
				
			</div>
			<div id="mySidebar">
			<!--<button onclick="closeNav()" id="close_sidebar">Close</button>-->
				<div id="column_A"></div>
				<div id="column_B"></div>
				<div id="column_C"></div>
			</div>
		</div>
		<!--<button type="button" id="open_sidebar">☰</button>-->
		
	</body>
</html>