@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url("/src/static/OpenSans-Regular.ttf");
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

html {
    background-color: white;
}

body {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    margin: auto;
    width: 100%;
    height: 100%;
}

div.main_form {
    box-shadow: rgba(0,0,0,0.5) 0px 0px 50px;
    border-radius: 5em;
    max-width: 55em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

div.message {
    display: block;
    border-radius: .75em;
    padding: .8em;
    color: #333;
    background-color: #f1f1f1;
    border: 1px solid #333;
    margin-left: 10em;
    margin-right: 10em;
    margin-bottom: 2em;
}

h1 {
    text-shadow: rgba(0,0,0,0.2) 0px 0px 10px;
}

p {
    text-shadow: rgba(0,0,0,0.2) 0px 0px 10px;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}

input {
    box-shadow: rgba(0,0,0,0.2) 0px 1px 10px;
    border-color: #f4f4f4;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

input[type=checkbox] {
    background-color: #f4f4f4;
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    margin-left: 8px;
    margin-right: 8px;
}

input[type=number] {
    width: 5em;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 10px;
    border-color: #f4f4f4;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

input[type=text] {
    width: 15em;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 10px;
    border-color: #f4f4f4;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
textarea {
    font-family: 'Open Sans', sans-serif;
    padding: .75vw;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 10px;
    border-color: #f4f4f4;
    border-radius: 10px;
    text-align: left;
    font-weight: lighter;
    font-size: 15px;
    max-width: 500px;
    width: 40em !important;
    height: 7em;
}
label {
    margin-bottom: .5em;
    display: inline-block;
}
#filepicker_button {
    font-weight: normal;
    font-size: unset;
    border-radius: initial;
    border-color: buttonface;
}

input[type=radio] {
    margin-left: 7px;
    margin-right: 7px;
}
div.float {
    float: left;
    position: fixed;
    left: 20px;
    top: 20px;
    background-color: #f4f4f4;
    padding: 15px;
    padding-bottom: 30px;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.2) 0px 0px 50px;
}
.uk-button-primary {
    width: auto;
    height: auto;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 15em;
    border-radius: .5em;
    margin-top: .5em;
}
div.item {
    padding: 0.35em;
}
div.item > label {
    display: block;
}
.download-btn {
    margin-top: 5vh;
    display: block;
    width: fit-content;
    margin-left: 7vw;
}
.teams_table {
    display: inline-block;
    border-collapse: collapse;
    border-radius: 10px;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    /* min-width:400px;
    */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.teams_table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}
.teams_table th,
.teams_table td {
    padding: 12px 15px;
}
.teams_table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.teams_table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.teams_table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

ul,
li {
    display: inline;
}
li {
    /* border:solid 1px black;
    */
    padding: 0.2em;
    border-radius: 10px;
    /* margin: 5px; */
    color: white;
    background-color: #2e49e0;
}
.filter_btn {
    margin-top: 5px;
    border-radius: 10px;
    padding: 5px;
    background: #2e49e0;
    color: white;
    font-size: 1.5;
    cursor: pointer;
    display: block;
}

.filter {
    padding-bottom: 15px;
    clear: both;
    width: 100%;
    height: 0px;
    overflow: hidden;
    text-align: center;
    transition: height 0.4s ease;
    display: none;
}
#touch {
    position: absolute;
    opacity: 0;
    height: 0px;
}
#touch:checked + .filter {
    height: auto;
    display: block;
}

.between-text {
    display: none;
}

#operator4:checked ~ .between-text {
    display: inline;
}

.team_id{
    cursor: pointer;
}
#filter_submit_btn{
    cursor:pointer;
    margin-top: 3vh;
}
#team_attrs_dict{
    visibility:hidden;
}