@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url("/static/OpenSans-Regular.ttf");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

html {
    background-color: white;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    box-shadow: rgba(0,0,0,0.5) 0px 0px 50px;
    margin-left: 400px;
    margin-right: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 90px;
    min-width: 600px;
}
h1 {
    text-shadow: rgba(0,0,0,0.2) 0px 0px 10px;
}
p {
    text-shadow: rgba(0,0,0,0.2) 0px 0px 10px;
}
input {
    box-shadow: rgba(0,0,0,0.2) 0px 1px 10px;
    border-color: #f4f4f4;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

input[type=checkbox] {  
    background-color: #f4f4f4;
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    margin-top: 20px;
    margin-left: 8px;
    margin-right: 8px;
}

input[type=number] {

    box-shadow: rgba(0,0,0,0.2) 0px 1px 10px;
    border-color: #f4f4f4;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

textarea {
    font-family: 'Open Sans', sans-serif;
    padding: .75vw;
    box-shadow: rgba(0,0,0,0.2) 0px 1px 10px;
    border-color: #f4f4f4;
    border-radius: 10px;
    text-align: left;
    font-weight: lighter;
    font-size: 15px;
    max-width: 500px;
    width: 25em;
    height: 6em;
}


input[type=submit] {
    font-size: 15px;
    color: black;
    font-weight: bold;
    border-color: white;
    background-color: lightgrey;
    border-radius: 5px;
    margin-top: 10px;
    padding: 5px;
    box-shadow: rgba(0,0,0,0.2) 0px 0px 50px;
}
