<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ghScouting Advanced</title>
    <form method="POST">
        Select device to perform action on:
        <br>
        <select name="device">
            {% for partition in list_usb %}
                <option value="{{ partition }}">{{ partition }}</option>
            {% endfor %}
        </select>
        <br>
        Select database to perform action on (if applicable):
        <br>
        <select name="database">
            {% for database in list_db %}
                <option value="{{ database }}">{{ database }}</option>
            {% endfor %}
        </select>
        <br>
        Select action:
        <br>
        <input type="submit" name="import_config" value="Import config from USB">
        <br>
        <input type="submit" name="export_config" value="Export config to USB">
        <br>
        <input type="submit" name="export_database_db" value="Export database file to USB">
        <br>
        <input type="submit" name="export_database_csv" value="Export csv file to USB">
        <br>
        <br>
        <input type="submit" name="restart" value="Restart ghScouting">
        <br>
        <input type="submit" name="shutdown" value="Shutdown device">
    </form>
</head>
<body>

</body>
</html>