<!DOCTYPE html>
<head>
    <title>Gearheads Scouting</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='uikit.min.css') }}">
    <body>
        <div class="main_form">
            <form>
                {% set float_config = config.page|selectattr("position", "equalto", "float")| list %}
                {% set top_config = config.page|selectattr("position", "equalto", "top") | list %}
                {% set main_config = config.page|rejectattr("position") | list %}
                {% if float_config %}
                <div class="float">
                    {% for item in float_config %}
                    <div class="item">
                        {{ item.render() }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% if top_config %}
                <div class="top">
                    {% for item in top_config %}
                    <div class="item">
                        {{ item.render() }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="message">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                {% if main_config %}
                <div class="main">
                    {% for item in main_config %}
                    <div class="item">
                        {{ item.render() }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </form>
            <a class="download-btn" href="/getCSV">Download Data</a>
            <a class="download-btn" href="/stats">View entered statistics</a>
        </div>
    </body>
</head>
