<!DOCTYPE html>

<head>
    <title>Gearheads Scouting</title>
    <link rel="shortcut icon" type="image/png" href="{{ favicon }}" />
    <link rel="stylesheet" href="{{ stylesheet }}">
    <body>
        <img src="{{ photo }}" alt="Gearheads Logo">
        <form method="POST">
            {% for key, values in config.items() %}
                {% if values.get('metatype') != "value" %}
                    <br>
                    <label for="{{ key }}">{{ values['display'] }}</label>
                    <br>
                    {% if values['type'] != "grid" %}
                        {% if values['type'] == "textarea" %}
                            <textarea name="{{ key }}" rows="{{ values['rows'] }}" cols="{{ values['cols'] }}"></textarea>
                        {% elif values['type'] == "number" %}
                            <input name="{{ key }}" type="{{ values['type'] }}" min="{{ values.get('min') }}" max="{{ values.get('max') }}">
                        {% else %}
                            <input name="{{ key }}" type="{{ values['type'] }}">
                        {% endif %}
                    {% elif values['type'] == "grid" %}
                        {% for row in range(0,values['rows']) %}
                            {% for column in range(0,values['columns']) %}
                                    {% if column|string+","+row|string not in values['skipdraw'] %}
                                        {% if values['gridtype'] == "radio" and values.get('labels') %}
                                            <input name="{{ key }}" type="{{ values['gridtype'] }}" value="{{ values['labels'].get("{},{}".format(row,column)) }}">
                                            {{ values['labels'].get("{},{}".format(row,column)) }}
                                        {% else %}
                                            <input name="{{ key }}_{{ row }}_{{ column }}" type="{{ values['gridtype'] }}">
                                        {% endif %}
                                    {% else %}
                                        <style>#{{ values['gridtype'] }}{opacity: 0;}</style>
                                        <input type={{ values['gridtype'] }} id={{ values['gridtype'] }}>
                                    {% endif %}
                            {% endfor %}
                            <br>
                        {% endfor %}
                    {% endif %}
                    <br>
                {% endif %}
            {% endfor %}
            <input type="submit">
        </form>
    </body>
</head>
