<!DOCTYPE html>
<head>
    <title>Gearheads Scouting</title>
    <link rel="shortcut icon" type="image/png" href='{{ url_for('static', filename='favicon.ico') }}' />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='uikit.min.css') }}">
    <body>
        <div class="main_form"> 
            <form>
                <div class="top">
                    {% for item in config.page|selectattr("position", "equalto", "top") %}
                    <div class="item">
                        {{ item.render() }}
                    </div>
                    {% endfor %}
                </div>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="message">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <div class="main">
                    {% for item in config.page|rejectattr("position") %}
                    <div class="item">
                        {{ item.render() }}
                    </div>
                    {% endfor %}
                </div>
                <div class="float">
                    {% for item in config.page|selectattr("position", "equalto", "float") %}
                    <div class="item">
                        {{ item.render() }}
                    </div>
                    {% endfor %}
                </div>
            </form>
        </div>
    </body>
</head>
