<!DOCTYPE html>
<head>
    <title>Gearheads Scouting</title>
    <link rel="shortcut icon" type="image/png" href='{{ url_for('static', filename='favicon.ico') }}' />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <body>
        <img src="{{ url_for('static', filename='gearheads.png') }}" alt="Gearheads Logo">
        <form method="POST">
            {% for item in config.form %}
                {{ item.render() }}
                <br>
            {% endfor %}
            <input type="submit">
            <div class="matchdata">
              <p>Match Number</p>
              <input name="matchnum" type="number" min="0">
              <p>Team Number</p>
              <input name="team" type="number" min="0">
            </div>
        </form>
    </body>
</head>
